$width: 100%;
$height: 12%;
$bgColor: rgb(99, 99, 230);
$display: flex;
$content: space-around;
$rowDirection: row;
$alignItems: center;
$headPosition: fixed;
$top: 0;
$cursor: pointer;
$fullPadding: 12px;
$imgWidth: 350px;
$imgHeight: 350px;
$fffColor: #fff;

$Wrap: wrap;
$contentEnd: flex-end;
$Column: column;
$globalMargin: 80px;
