@import "../../styleVariables/variables.scss";

.header-global-div {
  width: $width;
  height: $height;
  background-color: $fffColor;
  display: $display;
  justify-content: $content;
  align-items: $alignItems;
  position: $headPosition;
  z-index: 1000;
  top: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);

  @media (max-width: 768px) {
    flex-direction: $Column;
    align-items: $alignItems;
    padding: 10px;
  }
}

.header-logo {
  p {
    font-size: 30px;
    font-weight: 900;
    color: $bgColor;
    cursor: $cursor;

    @media (max-width: 768px) {
      font-size: 24px;
      
    }
  }

  a:hover {
    color: $bgColor;

    @media (max-width: 768px) {
      color: $cursor;
    }
  }
}

.navbar {
  a {
    padding: $fullPadding;

    @media (max-width: 768px) {
      padding: 10px;
     
    }
  }

  a:hover {
    border: 3px dotted #0074e4;
    color: #0074e4;
    background: #ffffff;
    transition: all 0.3s ease;

    @media (max-width: 768px) {
      border: none;
    }
  }
}
