@import "../../styleVariables/variables.scss";

.global-footer-div {
  display: $display;
  margin-top: 150px;
  flex-direction: row;
  justify-content: $content;
  background-color: rgb(230, 224, 224);
  height: 300px;
  padding: 15px;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.footer-title {
  h2 {
    color: $bgColor;
    @media (max-width: 768px) {
      padding: 15px;
    }
  }
}

.contact-footer {
  h4 {
    color: $bgColor;
  }
  @media (max-width: 768px) {
    padding: 15px;
    border-left: 1px solid black;
  }
}

.creator-info {
  text-align: $alignItems;
  p {
    font-size: 10px;
  }
}
